
:root{
    --run-time: 4s;
}
*{
    font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
    font-size: 18px;
    color: white;
    text-shadow: 0px 0px 1px 1px black;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: cover;
}

.noResult{
    background-image: url("./images/minion-2874955_1920.jpg");
}

.result{
    background-image: url("./images/blur-bright-close-up-1606655.jpg");
}

.yeah{
    background-image: url("./images/yeah.gif");
    background-position: center;
    background-size: 100px 100px;
}

.bee{
    background-image: url("./images/bee.gif");
    background-position: center;
}

.wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
}
.rows{
    padding: 10px;
}
td{
    border: 1px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    background-image: url("./images/ahh.gif");
    background-position: center;

}
.red{
    background-color: rgba(255, 0, 0,0.8);
    background-image: url("./images/Minion-Evil-4-icon.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: url("./images/gun-1.png"), auto;
    border: none;
    animation: escape linear infinite;
}
@keyframes escape{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: 96px 0px;
    }
}

.red:link, .red:visited, .red:hover{
    cursor: url("./images/gun-1.png"), auto;
}

.red:active{
    cursor: url("./images/gun-2.png"), auto;
}
.blue{
    background-image: url("./images/Minion-Dancing-icon.png");
    background-color: rgba(0, 0, 255,0.8);
    border: none;
}
input, select{
    background-color: transparent;
}

option {
    color: black;
}

.r2l {
    position: fixed;
    left: calc(100vw + 0px);
    z-index: -1;
}

#evil1{
    top: 150px;
    animation: r2l var(--run-time) linear infinite;
}

#evil3{
    top: 250px;
    animation: r2l var(--run-time) calc(var(--run-time) / 2) linear infinite;
}

@keyframes r2l{
    0%{
        left: calc(100vw + 0px);
    }
    50%{
        left: calc(0vw - 96px);
    }
    100%{
        left: calc(0vw - 96px);
    }
}

.l2r {
    position: fixed;
    left: calc(0vw - 96px);
    z-index: -1;
}

#evil2{
    top: 150px;
    animation: l2r var(--run-time) linear infinite;
}

#evil4{
    top: 250px;
    animation: l2r var(--run-time) calc(var(--run-time) / 2) linear infinite;
}

@keyframes l2r{
    0%{
        left: calc(0vw - 96px);
    }
    50%{
        left: calc(100vw + 0px);
    }
    100%{
        left: calc(100vw + 0px);
    }
}

.result .r2l, .result .l2r{
    display: none;
}

#superman {
    position: fixed;
    left: calc(100vw / 3);
    z-index: 1;
    top: 100vh;
}

.b2t{
    animation: b2t var(--run-time) linear infinite;
    top: 100vh;
}

@keyframes b2t{
    0%{
        top: 100vh;
    }
    66%{
        top: calc(0vh - 96px);
    }
    100%{
        top: calc(0vh - 96px);
    }
}

.t2b{
    animation: t2b var(--run-time) linear infinite;
    transform: rotate(180deg);
    top: calc(0vh - 96px);
}

@keyframes t2b{
    0%{
        top: calc(0vh - 96px);
    }
    66%{
        top: 100vh;
    }
    100%{
        top: 100vh;
    }
}

.noResult #superman {
    display: none;
}

input:disabled {
    cursor: not-allowed;
}

#start:disabled {
    opacity: 0;
}

input[type='number']{
    width: 90px;
}

.inputRow {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
}

.inputRow *:not(:first-child){
    margin-left: 10px;
}

.lang {
    float: right;
}